body {
    padding-top: 60px;
    padding-bottom: 200px;
    font-family: 'Raleway', sans-serif !important;
    background-color: #FCFFF5 !important;
    color: #2A2C2B !important;
}
a {
    -webkit-transition: color 0.5s;
}
a:focus, a:hover {
    text-decoration: none !important;
}

hr {
    border-top: 1px solid #F2EDE4 !important;
}

.navbar-inverse {
    background-color: #1E1E20 !important;
    border-color: #E74C3C !important;
}
.logo {
    padding: 13px 25px 0 0;
    width: 200px;
}
.logo-big {
    padding: 13px 25px 0 0;
    width: 300px;
}
.log-in {
    margin-top: 150px;
}
.register {
    margin-top: 150px;
}

.btn-default {
    margin-bottom: 10px !important;
    -webkit-transition: background-color 1s;
}

/*ALERTS*/
.alert-danger {
    color: #FCFFF5 !important;
    background-color: #E74C3C !important;
    margin-top: 10px;
}
.alert-success {
    color: #FCFFF5 !important;
    background-color: #70B85D !important;
}

.glyphicon {
    margin-right: 10px;
}

.form-control {
    margin-bottom: 10px;
    border-radius: 0 !important;

}
.create {
    padding-top: 10px;
    border-right: 1px solid #333;
    padding-right: 30px;
}

.chosen-single {
    margin-bottom: 10px;
    box-shadow: none !important;
    background: none !important;
}

.card {
    /*border: 1px solid #1E1E20;*/
    background: #F2EFDF;
    margin: 0 5px 10px;
}
.card_title {
    padding-top: 3px;
    margin-bottom: 0;
}
.single_like {

}

.single_view {
    margin-top: 15px;
    border-right: 1px solid #333;
    padding-right: 30px;
}

.col-md-2 {
    width: 24% !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #1E1E20;
    padding-top: 10px;
    border-top: 2px solid #E74C3C;
}
.footer li {
    color: #ECF0F1;
}
.footer li a {
    color: #3E606F;
}
.footer li a:hover {
    text-decoration: none;
    color: #91AA9D;
}

/* Buttons */
.btn-danger {
    margin-left: 5px;
    border-radius: 0px !important;
    border: none !important;
    background-color: #E74C3C !important;
}
.btn-warning {
    border-radius: 0px !important;
    border: none !important;
}
.btn-default {
    border-radius: 0px !important;
}
.btn-primary {
    border-radius: 0px !important;
    border: none !important;
}
.btn.disabled {
    cursor: default !important;
}

/*DROPDOWN MENU*/
.dropbtn {
    background-color: #1E1E20;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #E74C3C;
}

/* Hover Animation */
.grid {
    margin: 0 auto;
}
.grid figure {
    margin: 0;
    position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #f9f9f9;
}
.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: 1;
}
.cs-style-1 figcaption a {
    /*margin-top: 10px;*/
}
.figbtn {
    margin-top: 4px;
}
span.glyphicon.hovericon {
    font-size: 30px;
    padding: 5px 10px 0 25px;
    color: #f9f9f9;
}
span.glyphicon.hovericon:hover {
    color: #91AA9D;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: color 0.5s;
}
.caption_separator {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border-top: 1px solid #91AA9D !important;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
    border-left: 4px solid #1E1E20;
    padding-bottom: 10px;

    margin-bottom: 10px ;
}
.media-body {
    padding-left: 10px;
}

.widget-area {
    background-color: #fff;
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}
.status-upload {
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 100px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}
.status-upload form button {
    float: right;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 6px 15px;
}